* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
}

.wrapper {
    max-width: 111.5rem;
    width: 100%;
    margin: 0 auto;
}

.wrapper-slider {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}